---
http_interactions:
- request:
    method: post
    uri: https://api.staging-patch.com/v1/orders
    body:
      encoding: UTF-8
      string: '{"mass_g":100}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 201
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3da78d090d0b5c853dd94d057a136eac"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ord_test_356659ea17804a53ea1cb506a7c8c6a7","allocation_state":"allocated","allocations":[{"id":"all_test_839644c866730b698da16e89899bc003","mass_g":100,"offset":{"id":"off_test_000ef5de5218cc4eeea1f87e081da9cc","developer":"Patch
        Test Developer","production":false,"serial_number":"462630d75df3085670adfb97cc7be235","vintage_year":2020},"production":false}],"mass_g":100,"price_cents_usd":"1.0","production":false,"state":"placed"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/orders
  recorded_at: Wed, 01 Jul 2020 19:56:50 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/orders/ord_test_356659ea17804a53ea1cb506a7c8c6a7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3da78d090d0b5c853dd94d057a136eac"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ord_test_356659ea17804a53ea1cb506a7c8c6a7","allocation_state":"allocated","allocations":[{"id":"all_test_839644c866730b698da16e89899bc003","mass_g":100,"offset":{"id":"off_test_000ef5de5218cc4eeea1f87e081da9cc","developer":"Patch
        Test Developer","production":false,"serial_number":"462630d75df3085670adfb97cc7be235","vintage_year":2020},"production":false}],"mass_g":100,"price_cents_usd":"1.0","production":false,"state":"placed"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/orders/ord_test_356659ea17804a53ea1cb506a7c8c6a7
  recorded_at: Wed, 01 Jul 2020 19:56:50 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/orders?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"266a9f6df37c72e9f8a05e37c80e0334"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ord_test_356659ea1[...]
