---
http_interactions:
- request:
    method: get
    uri: https://api.staging-patch.com/v1/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"67d3655e08e10760edfe532373817fa0"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}],"error":null,"meta":{"next_page_url":null,"prev_page_url":null},"success":true}'
      effective_url: https://api.staging-patch.com/v1/projects
  recorded_at: Wed, 01 Jul 2020 20:05:00 GMT
- request:
    method: post
    uri: https://api.staging-patch.com/v1/preferences
    body:
      encoding: UTF-8
      string: '{"project_id":"pro_test_cee5bba9672799a693891aff340b3106"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 201
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f51733c5ca36942fb1e24c77a33e5c85"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pre_test_d571f7f99c29c3df29d3d0377ad9fced","allocation_percentage":100,"project":{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/preferences
  recorded_at: Wed, 01 Jul 2020 20:05:00 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/preferences/pre_test_d571f7f99c29c3df29d3d0377ad9fced
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f51733c5ca36942fb1e24c77a33e5c85"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pre_test_d571f7f99c29c3df29d3d0377ad9fced","allocation_percentage":100,"project":{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/preferences/pre_test_d571f7f99c29c3df29d3d0377ad9fced
  recorded_at: Wed, 01 Jul 2020 20:05:00 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/preferences?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e8080f6e1d23c5f45ea281ec25efefe0"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"pre_test_d571f7f99c29c3df29d3d0377ad9fced","allocation_percentage":100,"project":{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}}],"error":null,"meta":{"next_page_url":null,"prev_page_url":null},"success":true}'
      effective_url: https://api.staging-patch.com/v1/preferences?page=1
  recorded_at: Wed, 01 Jul 2020 20:05:00 GMT
- request:
    method: delete
    uri: https://api.staging-patch.com/v1/preferences/pre_test_d571f7f99c29c3df29d3d0377ad9fced
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f51733c5ca36942fb1e24c77a33e5c85"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pre_test_d571f7f99c29c3df29d3d0377ad9fced","allocation_percentage":100,"project":{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/preferences/pre_test_d571f7f99c29c3df29d3d0377ad9fced
  recorded_at: Wed, 01 Jul 2020 20:05:00 GMT
recorded_with: VCR 6.0.0
