---
http_interactions:
- request:
    method: get
    uri: https://api.staging-patch.com/v1/projects?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"67d3655e08e10760edfe532373817fa0"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}],"error":null,"meta":{"next_page_url":null,"prev_page_url":null},"success":true}'
      effective_url: https://api.staging-patch.com/v1/projects?page=1
  recorded_at: Wed, 01 Jul 2020 20:00:44 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/projects/pro_test_cee5bba9672799a693891aff340b3106
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1bee28f83050ddecdadeaebcf81c6d6f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/projects/pro_test_cee5bba9672799a693891aff340b3106
  recorded_at: Wed, 01 Jul 2020 20:00:44 GMT
recorded_with: VCR 6.0.0
