---
http_interactions:
- request:
    method: post
    uri: https://api.staging-patch.com/v1/estimates/mass
    body:
      encoding: UTF-8
      string: '{"mass_g":100}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 201
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"af0b00bb84b4c38293ed30105f13c5c6"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"est_test_7b0f776934705a0cbbc33082ae85026a","order":{"id":"ord_test_9ff07c288ac6484ea64b8a7dd6139f0a","allocation_state":"allocated","allocations":[{"id":"all_test_946d0d85732a7d36e96202b2ba267339","mass_g":100,"offset":{"id":"off_test_000ef5de5218cc4eeea1f87e081da9cc","developer":"Patch
        Test Developer","production":false,"serial_number":"462630d75df3085670adfb97cc7be235","vintage_year":2020},"production":false}],"mass_g":100,"price_cents_usd":"1.0","production":false,"state":"draft"},"production":true,"type":"mass"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/estimates/mass
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
- request:
    method: patch
    uri: https://api.staging-patch.com/v1/orders/ord_test_9ff07c288ac6484ea64b8a7dd6139f0a/place
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"83cacd7a207ff94ca182623addf38a4a"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ord_test_9ff07c288ac6484ea64b8a7dd6139f0a","allocation_state":"allocated","allocations":[{"id":"all_test_946d0d85732a7d36e96202b2ba267339","mass_g":100,"offset":{"id":"off_test_000ef5de5218cc4eeea1f87e081da9cc","developer":"Patch
        Test Developer","production":false,"serial_number":"462630d75df3085670adfb97cc7be235","vintage_year":2020},"production":false}],"mass_g":100,"price_cents_usd":"1.0","production":false,"state":"placed"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/orders/ord_test_9ff07c288ac6484ea64b8a7dd6139f0a/place
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
[...]
- request:
    method: patch
    uri: https://api.staging-patch.com/v1/orders/ord_test_9a8e1b4894cce6420d21685cabcdfabe/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c9c14db6eaa851d90cefcb3766bee9d8"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ord_test_9a8e1b4894cce6420d21685cabcdfabe","allocation_state":"allocated","allocations":[],"mass_g":100,"price_cents_usd":"1.0","production":false,"state":"cancelled"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/orders/ord_test_9a8e1b4894cce6420d21685cabcdfabe/cancel
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
recorded_with: VCR 6.0.0
