---
http_interactions:
- request:
    method: post
    uri: https://api.staging-patch.com/v1/estimates/mass
    body:
      encoding: UTF-8
      string: '{"mass_g":100}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 201
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3fd5856c8b9923b9359ca82a17bed91d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"est_test_7fd554d0b824cbf3fd928f8db56dc3f1","order":{"id":"ord_test_26c3cc6bcc823154b244653052ffc93e","allocation_state":"allocated","allocations":[{"id":"all_test_da286dca43e07def48c5333f971c0673","mass_g":100,"offset":{"id":"off_test_000ef5de5218cc4eeea1f87e081da9cc","developer":"Patch
        Test Developer","production":false,"serial_number":"462630d75df3085670adfb97cc7be235","vintage_year":2020},"production":false}],"mass_g":100,"price_cents_usd":"1.0","production":false,"state":"draft"},"production":true,"type":"mass"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/estimates/mass
  recorded_at: Thu, 02 Jul 2020 17:44:23 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/estimates/est_test_7fd554d0b824cbf3fd928f8db56dc3f1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3fd5856c8b9923b9359ca82a17bed91d"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"est_test_7fd554d0b824cbf3fd928f8db56dc3f1","order":{"id":"ord_test_26c3cc6bcc823154b244653052ffc93e","allocation_state":"allocated","allocations":[{"id":"all_test_da286dca43e07def48c5333f971c0673","mass_g":100,"offset":{"id":"off_test_000ef5de5218cc4eeea1f87e081da9cc","developer":"Patch
        Test Developer","production":false,"serial_number":"462630d75df3085670adfb97cc7be235","vintage_year":2020},"production":false}],"mass_g":100,"price_cents_usd":"1.0","production":false,"state":"draft"},"production":true,"type":"mass"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/estimates/est_test_7fd554d0b824cbf3fd928f8db56dc3f1
  recorded_at: Thu, 02 Jul 2020 17:44:23 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/estimates?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f85014fa5cfc264e4179f49199e870cc"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"est_test_7fd554[...]
