---
http_interactions:
- request:
    method: post
    uri: https://api.staging-patch.com/v1/orders
    body:
      encoding: UTF-8
      string: '{"mass_g":100}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 201
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1ebf12734967f4e68ae687ff399373e3"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ord_test_6d00ac52eb0404514a8c9688120ad886","allocation_state":"allocated","allocations":[{"id":"all_test_f54345ee0518704dea3bf25fc8f6c621","mass_g":100,"offset":{"id":"off_test_000ef5de5218cc4eeea1f87e081da9cc","developer":"Patch
        Test Developer","production":false,"serial_number":"462630d75df3085670adfb97cc7be235","vintage_year":2020},"production":false}],"mass_g":100,"price_cents_usd":"1.0","production":false,"state":"placed"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/orders
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/orders/ord_test_6d00ac52eb0404514a8c9688120ad886
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1ebf12734967f4e68ae687ff399373e3"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"ord_test_6d00ac52eb0404514a8c9688120ad886","allocation_state":"allocated","allocations":[{"id":"all_test_f54345ee0518704dea3bf25fc8f6c621","mass_g":100,"offset":{"id":"off_test_000ef5de5218cc4eeea1f87e081da9cc","developer":"Patch
        Test Developer","production":false,"serial_number":"462630d75df3085670adfb97cc7be235","vintage_year":2020},"production":false}],"mass_g":100,"price_cents_usd":"1.0","production":false,"state":"placed"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/orders/ord_test_6d00ac52eb0404514a8c9688120ad886
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/orders?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"82f6a48e5b41681ace087771cd7b8b33"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"ord_test_6d00ac52e[...]
