---
http_interactions:
- request:
    method: get
    uri: https://api.staging-patch.com/v1/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4cb5a00231b4a4af0a924c8965c78a3c"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}],"error":null,"meta":{"next_page":null,"prev_page":null},"success":true}'
      effective_url: https://api.staging-patch.com/v1/projects
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
- request:
    method: post
    uri: https://api.staging-patch.com/v1/preferences
    body:
      encoding: UTF-8
      string: '{"project_id":"pro_test_cee5bba9672799a693891aff340b3106"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 201
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2bede9d3bcffcf1f6a7cdcc95689a3cb"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pre_test_c00432a2ebd671d7772963ec9db2987a","allocation_percentage":100,"project":{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/preferences
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/preferences/pre_test_c00432a2ebd671d7772963ec9db2987a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2bede9d3bcffcf1f6a7cdcc95689a3cb"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pre_test_c00432a2ebd671d7772963ec9db2987a","allocation_percentage":100,"project":{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/preferences/pre_test_c00432a2ebd671d7772963ec9db2987a
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/preferences?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7a70989419b2452978059a260d61c3dd"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"pre_test_c00432a2ebd671d7772963ec9db2987a","allocation_percentage":100,"project":{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}}],"error":null,"meta":{"next_page":null,"prev_page":null},"success":true}'
      effective_url: https://api.staging-patch.com/v1/preferences?page=1
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
- request:
    method: delete
    uri: https://api.staging-patch.com/v1/preferences/pre_test_c00432a2ebd671d7772963ec9db2987a
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2bede9d3bcffcf1f6a7cdcc95689a3cb"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pre_test_c00432a2ebd671d7772963ec9db2987a","allocation_percentage":100,"project":{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/preferences/pre_test_c00432a2ebd671d7772963ec9db2987a
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
recorded_with: VCR 6.0.0
