---
http_interactions:
- request:
    method: get
    uri: https://api.staging-patch.com/v1/projects?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4cb5a00231b4a4af0a924c8965c78a3c"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"}],"error":null,"meta":{"next_page":null,"prev_page":null},"success":true}'
      effective_url: https://api.staging-patch.com/v1/projects?page=1
  recorded_at: Thu, 02 Jul 2020 17:44:24 GMT
- request:
    method: get
    uri: https://api.staging-patch.com/v1/projects/pro_test_cee5bba9672799a693891aff340b3106
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<AUTH>"
  response:
    status:
      code: 200
      message: ''
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1bee28f83050ddecdadeaebcf81c6d6f"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"pro_test_cee5bba9672799a693891aff340b3106","country":"US","description":"This
        project is an example.","developer":"Patch Test Developer","latitude":45.0,"longitude":45.0,"name":"Patch''s
        Test Offset Project","production":false,"verifier":"Test verifier"},"error":null,"meta":null,"success":true}'
      effective_url: https://api.staging-patch.com/v1/projects/pro_test_cee5bba9672799a693891aff340b3106
  recorded_at: Thu, 02 Jul 2020 17:44:25 GMT
recorded_with: VCR 6.0.0
