=begin
#Patch API V2

#The core API used to integrate with Patch's service

The version of the OpenAPI document: 2.1.0
Contact: engineering@usepatch.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.3.1

=end

require 'cgi'

module Patch
  class TechnologyTypesApi
    OPERATIONS = [
      :retrieve_technology_types,
    ]

    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Retrieves the list of technology_types
    # Retrieves a list of all technology_types. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :patch_version 
    # @return [TechnologyTypeListResponse]
    def retrieve_technology_types(opts = {})
    
      data, _status_code, _headers = retrieve_technology_types_with_http_info(opts)
      data
    end

    # Retrieves the list of technology_types
    # Retrieves a list of all technology_types. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :patch_version 
    # @return [Array<(TechnologyTypeListResponse, Integer, Hash)>] TechnologyTypeListResponse data, response status code and response headers
    def retrieve_technology_types_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TechnologyTypesApi.retrieve_technology_types ...'
      end
      # resource path
      local_var_path = '/v1/projects/technology_types'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params['Patch-Version'] = 2
      header_params[:'Patch-Version'] = opts[:'patch_version'] if !opts[:'patch_version'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TechnologyTypeListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer_auth']

      new_options = opts.merge(
        :operation => :"TechnologyTypesApi.retrieve_technology_types",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TechnologyTypesApi#retrieve_technology_types\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
