name: Publish to RubyGems
on:
  release:
    types: [created]

permissions:
  id-token: write # Required for OIDC
  deployments: write
  contents: read

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    environment: production
    env:
      TARGET_URL: https://rubygems.org/gems/patch_ruby

    steps:
      - name: Check out code
        uses: actions/checkout@ee0669bd1cc54295c223e0bb666b733df41de1c5 # v2.7.0

      - uses: chrnorm/deployment-action@releases/v1
        name: Create GitHub deployment
        id: deployment
        with:
          token: "${{ github.token }}"
          target_url: ${{ env.TARGET_URL }}
          environment: production

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3.6

      - name: Build Gem
        run: gem build -o patch_ruby.gem patch_ruby.gemspec

      - name: Install Ruby Dependencies
        run: bundle install

      - name: Run RSpec
        env:
          SANDBOX_API_KEY: ${{ secrets.SANDBOX_API_KEY }}
        run: bundle exec rspec

      - uses: rubygems/release-gem@v1

      - name: Update deployment status (success)
        if: success()
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: "${{ github.token }}"
          target_url: ${{ env.TARGET_URL }}
          state: "success"
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}

      - name: Update deployment status (failure)
        if: failure()
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: "${{ github.token }}"
          target_url: ${{ env.TARGET_URL }}
          state: "failure"
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
